*******************/
/* Universal Styles */
/********************/

body {
  height:100vh;
  background-image:url(../static/images/flood.jpg);
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

html,
body,
.water,
.water .map {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body,
input,
textarea,
select,
button,
keygen,
isindex {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}

section, header, nav, footer {
    display:block;
}

/*****************/
/* Header Styles */
/*****************/

#pageheader {
  position:fixed;
  top:0px;
  left:0px;
  height:90px;
  width:100%;
}

header {
  height:100%;
  width:100%;
}

#tool-title {
  font-size: 28px;
}

.logos {
  position:relative;
  margin:0px;
  width:100%;
  height:55px;
  background-color:#fff;
}

.logos img#usaid {
  position:absolute;
  top:5px;
  left:30px;
  width:150px;
}

.logos img#nasa {
  position:absolute;
  top:0px;
  left:210px;
  width:60px;
}

.logos img#adpc {
  position:absolute;
  top:9px;
  left:300px;
  width:80px;
}

.logos img#servir {
  position:absolute;
  top:12px;
  right:30px;
  width:250px;
}

nav {
  position:relative;
  margin:0px;
  width:100%;
  height:35px;
  background-color:#3a3a3a;
  color:#eee;
}

nav ul {
  position:absolute;
  top:0px;
  margin-top:7px;
}

nav ul li {
  display:inline;
  list-style-type:none;
  padding:2px;
  cursor:pointer;
}

nav ul li #homebutton,
nav ul li #helpbutton,
nav ul li #aboutbutton {
  font-family:Roboto;
  font-size:16px;
  background-color: #3a3a3a;
  border: none;
}

nav ul li #feedbacklink {
  margin-left: 10px;
  font-family:Roboto;
  font-size:16px;
  background-color: #3a3a3a;
  color: #eee;
}

/***********************/
/* Page Content Styles */
/***********************/

#pagecontent {
  position:fixed;
  top:0px;
  left:0px;
  height:calc(100vh - 0px);
  width:100%;
  background-color:rgba(255,255,255,0.2);
}

#pagecontent a {
  color:#444;
  text-decoration:none;
}

#pagecontent a:hover {
  text-shadow:0px 0px 4px #333;
}

#pagecontent #all-pages {
  position:relative;
  height:100%;
  width:100%;
}

/*****************/
/* Footer Styles */
/*****************/

#pagefooter {
  position:fixed;
  bottom:0px;
  left:0px;
  height:55px;
  width:100%;
}

footer {
  height:100%;
  width:100%;
  border-top:1px solid #3a3a3a;
}

.logos img#deltares {
  position:absolute;
  top:7px;
  left:0px;
  width:100px;
}

.logos img#sig {
  position:absolute;
  top:5px;
  left:150px;
  width:200px;
}

.logos img#sei {
  position:absolute;
  top:5px;
  left:400px;
  width:175px;
}

.logos img#gee {
  position:absolute;
  top:7px;
  right:5px;
  width:250px;
}

/****************************/
/* About and help Pages */
/****************************/

#about,
#help {
  display:none;
  position:absolute;
  top:0%;
  left:10%;
  height:calc(100vh - 90px - 55px);
  width:76%;
  padding:2%;
  overflow:auto;
  background:rgba(255, 255, 255, 0.8);
  font-family:Roboto;
  font-size:16px;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
}

#about h1
 {
  font-size:1.8rem;
  font-weight:bold;
  padding:0.5rem;
  color:gray;
}
#help h1
{
font-size:1.7rem;
  font-weight:bold;
  padding:0.5rem;
  color:#282727;
}
#about p,
#help p {
  padding:0.5rem;
  font-size:1.4rem;
}

#help span {
  font-size:1.4rem;
}

#workflow_img {
  width: 800px;
  margin: 10px 0px;
  margin-left: 50px;
}

.example_items {
  display: inline-block;
  margin-top: 10px;
}

.example_item {
  display: flex;
  margin-bottom: 25px;
  left: 0px;
  align-items: top;
}

.example_item  img {
  width: 175px;
  height: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.example_img {
  margin-top: 5px;
}

/*****************************************/
/* Application Page Top Level Components */
/*****************************************/

.water .ui {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 332px;
  z-index: 0;
}

.water .panel {
  border-radius: 2px;
  max-height: 93vh !important;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 5px gray;
  overflow-y: scroll;
  margin-bottom: 0;
  width: 100%;
}

.water header {
  padding-bottom: 5px;
}

.water h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.water .collapse-button {
  display: inline;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.water .settings-button {
  display: none;
  position: absolute;
  left: 0px;
  background-color: white;
  width: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer
}

.water .general-info-button {
  margin-right: 10px;
}

.water .instructions {
  font-size: 12.5px;
  margin-bottom: 8px;
}

/*****************************/
/* Application Page Controls */
/*****************************/

.water .controls {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.water .inputs {
  display: inline-block;
  flex-grow: 8;
}

.water .expert {
  margin-top: -5px;
  margin-left: 68px;
}

.water .expert-toggle {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  margin-top: 15px;
}

.water .expert-message {
  font-weight: bold;
}

.water .expert-instructions {
  font-weight: bold;
  font-style: italic;
}

.water .expert-input {
  display: none;
  margin-top: 15px;
  overflow-y: auto;
}

.water .expert-input-block-label {
  font-weight: normal;
  display: inline-block;
  width: 65px;
  font-size: 12px;
}

.water .climatology-input,
.water .defringe-input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.water .percentile-input-perm,
.water .percentile-input-temp {
  width: 20%;
  display: inline;
}

.water .water-threshold-input,
.water .veg-threshold-input,
.water .hand-threshold-input,
.water .cloud-threshold-input {
  width: 20%;
  display: inline;
}

.water .climatology-info-button,
.water .defringe-info-button {
  position: relative;
  bottom: 8px;
}

.water .reset-button {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 65px;
}

.water .expert-reset {
  margin-left: 3px;
}

.water .btn.export {
  display: inline-block;
  margin-left: 10px;
}

.water .input-block {
  display: block;
  margin-top: 7px;
}

.water .input-block.date {
  margin-bottom: 0px;
  margin-top: 0px;
}

.water .input-block.region {
  height: 28px;
}

.water .input-block.region ul {
  display: inline-block;
  list-style-type: none;
  margin-left: -48px;
}

.water .input-block.region ul li{
  display: inline-block;
  margin-left: 8px;
  padding: 2px;
  vertical-align: middle;
}

.water .input-block.region ul li label {
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 5px;
}

.water .input-block-label {
  font-weight: normal;
  display: inline-block;
  width: 65px;
}

.water .date-type-picker input[type=radio] {
  vertical-align: top;
  margin-top: 2px;
}

.water .date-type-picker label {
  font-style: italic;
  font-weight: normal;
}

.water .date-type-picker .or {
  padding: 0 .3em;
}

.water .period_slice {
  margin-left: 7px;
  margin-right: 7px;
}

.water .submit {
  margin-left: 10px;
  margin-bottom: 0px;
}

.water .range-picker,
.water .average-picker {
  display: block;
}

.water .filename {
  width: 43%;
  display: inline;
  font-size: 12px;
}

.water .date-picker {
  display: inline-block;
  width: 26%;
}

.water .date-picker-2 {
  display: inline-block;
  width: 26%;
}

.water .region .message {
  font-style: italic;
  color: gray;
}

.water .region .message-drawing,
.water .region .message-selected {
  display: none;
}

.water .region.selected .message,
.water .region.drawing .message {
  display: none;
}

.water .region.drawing .message-drawing {
  display: inline;
}

.water .region.selected .message-selected {
  display: inline;
  color: green;
  font-style: normal;
}

.water .region.selected .message-selected .clear {
  color: black;
}

.water .export-info-button {
  margin-left: 5px;
}
/*
.water #monthsControlSlider {
  display: show;
  left: 15px;
  bottom: 120px;
  position: absolute;
}
*/
.water .months-slider {
  display: none;
  margin-left: -43px;
  margin-top: 30px;
}
.water #monthsControlSlider {
  margin-left: 30px;
}

/********************************/
/* Application Page Info Panels */
/********************************/

.water .general-info,
.water .legend-info,
.water .climatology-info,
.water .defringe-info,
.water .percentile-info,
.water .water-threshold-info,
.water .veg-threshold-info,
.water .hand-threshold-info,
.water .cloud-threshold-info,
.water .export-info {
  display: none;
}

.water .general-info-shown {
  display: inline;
  position: absolute;
  right: 455px;
  top: 7px;
  padding: 15px;
  margin-top: -5px;
  width: 450px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

.water .legend-info-shown {
  display: inline;
  position: absolute;
  left: 158px;
  bottom: 5px;
  padding: 10px;
  margin-bottom: -5px;
  width: 380px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

.water .climatology-info-shown,
.water .defringe-info-shown,
.water .percentile-info-shown,
.water .water-threshold-info-shown,
.water .veg-threshold-info-shown,
.water .hand-threshold-info-shown,
.water .cloud-threshold-info-shown {
  display: block;
  position: fixed;
  top: 56%;
  right: 465px;
  transform: translate(0%, 0%);
  padding: 15px;
  width: 450px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  font-size: 12px;
  overflow: auto;
  margin-bottom: 0;
  z-index: 2;
}

.water .export-info-shown {
  display: block;
  position: fixed;
  top: 56%;
  right: 465px;
  padding: 15px;
  margin-top: -5px;
  width: 450px;
  height: 235px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

/*******************************/
/* Application Page Map Layers */
/*******************************/

.water .map-layers-control {
  display: block;
  margin-top: 0px;
}

.water .map-layers-text {
  display: inline;
  margin-bottom: 5px;
  float: left;
}

.water .map-layers {
  display: block;
}
nav li button {
    text-decoration: none;
    color: #ffffff;
}

.water .map-layers-value {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  width: 100%;
}
.slider.slider-horizontal {
    width: 100%;
}
.map-layers-cont {
    display: flex;
    width: 35%;
}
.map-layers-cont span {
    font-size: 15px;
    font-weight: 600;
}

.water #checkbox-aoi,
.water #checkbox-hand,
.water #checkbox-water {
    margin-right: 10px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    box-shadow: 0 0px 1px 1px rgb(0 0 0 / 48%);
    cursor: pointer;
}

/*.water #aoiControlSlider {
  margin-left: 20px;
  width: 60px;
}

.water #handControlSlider {
  margin-left: 55px;
  width: 60px;
}

.water #waterControlSlider {
  margin-left: 59px;
  width: 60px;
}*/

.water #aoiControlSlider .slider-selection,
.water #handControlSlider .slider-selection,
.water #transparencyControlSlider .slider-selection {
  /* background: #dee2e6; */
  background: #0B5ED7; 
  box-shadow: none;
}
.slider.slider-horizontal .slider-track {
    background: #dee2e6;
     box-shadow: none;
}
.slider-handle {
    background: #0d6efd;
}

/*.water #aoiControlSlider .slider-selection,
.water #handControlSlider .slider-selection,
.water #waterControlSlider .slider-selection {
  background: #D3D3D3;
}*/

.water #handControlSlider .tooltip {
  display: none
}

/***************************/
/* Application Page Legend */
/***************************/

.water .legend {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 143px;
  margin-top: 0px;
  padding: 6px 6px 1px 6px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
}

.water .legend-text {
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 5px;
}

.water .legend-info-button {
  margin-left: 62px;
}

.water .legend-tabs {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 8px;
}

.water .legend-tabs  button{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin-right: -3px;
  transition: 0.3s;
  font-size: 12px;
}

.water .legend-tabs button.active {
  border: 1px solid #ccc;
  border-bottom: none;
  font-weight: bold;
}

.water .legend-tab-content {
  display: none;
  padding: 0px 6px;
}

.water .legend-value {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.water .legend-block {
  min-width: 60px;
  height: 30px;
  border-radius: 50px;
  margin-right: 10px;
  border: none;
  background-color: #D3D3D3;
}

/*****************************/
/* Application Page Warnings */
/*****************************/

.water .warnings {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 200px;
  border-radius: 2px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 5px red;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  overflow: auto;
  margin-bottom: 0;
  z-index: 4;
}

/***********************************/
/* Application Page Download Panel */
/***********************************/

.water .download_panel {
  display: none;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 250px;
  overflow: auto;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  z-index: 2;
}

.water #download_prep {
  display: none;
}

.water #link1,
.water #link2,
.water #link3,
.water #link4,
.water #link_metadata {
  display: none;
}

/******************/
/* Spinner Widget */
/******************/

.spinner {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    padding: 5px 25px;
    right: 470px;
    background: #0d6efde0;
    bottom: 30px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
}


.loading-export {
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    padding: 5px 25px;
    right: 470px;
    background: #0d6efde0;
    bottom: 30px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
}


/*************************/
/* Application Page Rest */
/*************************/

.water .water {
  flex-grow: 1;
}

.water .water:disabled {
  color: gray;
}


.slect-c >div {
  display: flex;
  width: 100%;
}
.slect-c select {
    width: 70%;
    margin-right: 2%;
}
.slect-c h2 {
    font-size: 2.6rem;
    margin-bottom: 5px;
}
.slect-c h4 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.transparency{
  margin-top: 20px;
}
.slect-c .select-box{
  border: 3px solid darkslategrey;
  margin: 5px 10px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow:0px 0px 3px 3px #464646; */
  max-width:15px;
  height:15px;
  width: 100%;
}
.slect-c span{
  font-size: 18px;
}
.select-date-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-date-sec >div {
    width: 48%;
}
.select-date-sec input {
    width: 100% !important;
}
.select-date-bottom-sec {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.select-date-bottom-sec .toggle-switcher-css {
    display: flex;
    align-items: center;
}

.select-date-bottom-sec .toggle-switcher-css label {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
    line-height: 0;
}

.form-switch .form-check-input {
    width: 35px;
    height: 20px;
    cursor: pointer;
}
.select-date-sec .input-block-label, .select-date-sec span.period_slice, .slect-c label, span#tool-title {
    font-weight: 600;
    }
    .heading-title h1 {
    font-size: 24px;
    margin-bottom: 20px;
    }


.lyr-cntrl-swtch-tog {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto 12% 2% auto;
}

.lyr-cntrl-swtch-tog p {
    margin: 0px;
}

.lyr-cntrl-swtch-tog  >div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mp-lyr-cntrl-downld-btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
.legend-note-btn {
    display: flex;
    justify-content: flex-end;
}

.legend-note-btn button {
    background: #fff;
    color: #0d6efd;
    border: none;
}
.legend-note-btn button:hover {
    color: #fff;
    background: #0d6efd;
    border: none;
}
/* ToolTip */
.tooltip-cont {
  position: relative;
  display: inline-block;
}

.tooltip-cont .tooltip-context {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 100;
  border-radius: 6px;
  padding: 5px 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-cont .tooltip-context::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-cont:hover .tooltip-context {
  visibility: visible;
  opacity: 1;
}

.tooltip-cont i {
  color: #0d6efd;
  font-size: 15px;
}
.tooltip-cont .input-block-label p 
{
    white-space: nowrap;
}
/* ToolTip End */


/* Popup start */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* Popup end */ 


/* Map controls  start*/
.mapboxgl-ctrl-group:not(:empty) {
    box-shadow: none !important; 
}

.mapboxgl-ctrl-group button {
    width: 29px;
    height: 29px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background: white !important;
    margin: 11px auto;
    cursor: pointer;
    border-radius: 50%;
    /* border: 1px solid #0c0c0c; */
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.mapboxgl-ctrl-group {
    border-radius: 4px;
    background: transparent !important;
}
.mapboxgl-ctrl-group button:focus:first-child, .mapboxgl-ctrl-group button:focus:last-child {
    border-radius: 50% !important;
}
/* Map controls  end*/

section#pagefooter {
    display: none !important;
}

a.mapboxgl-ctrl-logo {
    display: none;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.invalid {
    border: 5px solid red !important;
}

.abt-page-headings {
  color: #1f4687;
}

.main-heading {
  color: #1f4687 !important;
  text-align: center;
}

.about-ul {
  font-size: 19px;
}

div#myModal .modal-content {
    border-radius: 0 !important;
}

.modal-dialog {
    max-width: 600px !important;
    width: 90% !important;
    margin: 25vh auto !important;
}
div#myModal.modal.fade.show {
    opacity: 1;
    display: block;
}
#myModal .relative-class
{
  width: 100%;
}


div#myModal .modal-content button#close-modal-btn {
    float: right;
}

.modal-p {
  font-size: 16px !important;
}

.modal {
    overflow-y: hidden !important;
}
/* Help page CSS */
.main_heading_cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 15px;
}
div#help #help-btn {
   
    font-size:15px;
    background:#0259f9;
    color:#fff;
    padding:15px 25px;
    border:1px solid #0259f9;
    border-radius:5px;
    letter-spacing:0.1em;
    font-weight:200;
    box-shadow: 0 0 3px 0px #0259f9;
}
div#help #help-btn:hover
{
    color:#0259f9;
    background:#fff;
    text-shadow:none;
}
#help ol li {
        color: #0259f9;
    font-size: 1.2em;
    font-weight: 600;
}
/* Help page CSS end */
/* The Modal (background) */
/* .modal_3d {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 350px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
} */

.modal_3d {
  display: none; 
  position: fixed;
  z-index: 1; 
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content_3d {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #fff;
    width: 30%;
    box-shadow: 0 0 3px #fff;
}
.modal-content_3d p 
{
    font-size: 1.0em;
    color: #000;
    text-align: left;
    line-height: 1.5;
}
/* The Close Button */
.close_3d {
  color: #4b90f6;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
}

.close_3d:hover,
.close_3d:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  float: left !important;
  margin: 10px 0px 0px 10px !important;
}
.trp-range{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.year-slider-value{
  width: 100%;
  display: flex;
  justify-content: center;
}
.download{
  background-color: #0b5ed7;
  color: white !important;
  padding: 10px 20px;
  border-radius: 50px;
}
.download:hover{
  color: white;
}
.download-btn-div{
  display: flex;
  justify-content: center;
  width: 100%;
  margin:15px 0px;
}
.switch-label{
  font-size: 20px;
  font-weight: 400px !important;
  margin-right: 10px;
}
.Legend-sec{
  margin: 15px 0;
}
.pages{
  display: flex;
  align-items: center;
}
.pages p, .pages i{
  font-size: 20px;
  margin: 5px;
}

/* chat box */

.chat-box {
  position: fixed;
  bottom: 15px;
  left: 41.7%;
  width: 40%; 
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the chat messages */
.chat-message:hover {
  cursor: pointer; /* Change the background color on hover */
}
.chat-message {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
}

/* Styling for the prompt box */
.chat-input {
  width: 100%;
  padding: 20px;
  border: 1px solid #7d7d7d;
  border-radius: 20px;
  margin-top: 5px;
}
.chat-input::placeholder{
  font-size: 16px;
  font-weight: 600;
}
.chat-box h5{
  font-weight: 600;
}
.chat-msg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-msg button{
  border: none;
  padding: 15px;
  box-shadow: 1px 2px 6px 3px lightgray;
  border-radius: 10px;
  margin: 5px;
}
.chat-msg i{
  font-size: 25px;
  color: #0b5ed7;
}
.toggle-switcher-css{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin:15px 0px;
}
.form-check-label{
  font-size: 20px;
}





/* Styles for the overlay */
.overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
  z-index: 2; /* Ensure it's on top of other content */
  backdrop-filter: blur(4px); /* Add a blur effect to the background */
}

/* Styles for the new spinner */
.lds-dual-ring {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #0074e4; 
  border-color: #0074e4 transparent #0074e4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

p.error {
  margin: 5px 0px 0px 19px;
  color: red;
  font-size: 12px;
  line-height: 1.2;
  display: none;
}
p.year-error {
  margin: 5px 0px 0px 19px;
  color: red;
  font-size: 12px;
  line-height: 1.2;
  display: none;
}
@media only screen and (max-width: 600px) {
  .chat-box {
    width: 80%;
    left: 0;
    margin: 10px;
  }
  #contact-modal .modal-content_3d{
    height: 300px;
    width: 100%;
    margin: 15px;
  }
  .modal-content_3d{
    width: 100% !important;
  }
  .result-box{
    width: 100% !important;
    left: 0 !important;
  }
.panel{
  max-height: 80vh !important;
  }
}

.containerResult {
  display: flex;
  align-items: flex-end;
  padding: 9px;
  justify-content: space-between;
}

.containerResult .text{
  width: 90%;
}
.content {
  max-width: 100%;
}

.icon-button {
  margin-left: 10px;
  background-color: #0b5ed7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 25px;
}

.icon-button i{
  font-size: 25px;
}
.icon-button:hover i {
  transform: rotate(45deg);
}
.result-box {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 41.7%;
  width: 40%; 
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.result-text-box {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:5px 10px;
}
.result-text-box i{
  font-size: 20px;
  font-weight:bold;
  cursor: pointer;
}
.info-modal-btn{
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #0b5ed7;
  color: white;
  font-weight: 400;
  cursor: pointer;

}
#download-gee-code{
  cursor: not-allowed;
  opacity: 0.5;
}
.contact-us-details p {
  line-height: 19px;
  font-size: 15px;
  font-family: 'Roboto';
}
#contact-modal{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}
#contact-us-div{
  cursor: pointer;
}

.help-details p {
  line-height: 19px;
  font-size: 15px;
  font-family: 'Roboto';
}

#help-modal{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}
#help-div{
  cursor: pointer;
}

.modal-content_3d_help{
  width: 100% !important;
}

#help-modal .modal-content_3d_help{
  height: 95vh;
  width: 100%;
  margin: 15px;
}

.modal_3d_help {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 350px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content_3d_help {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #fff;
    width: 30%;
    box-shadow: 0 0 3px #fff;
    overflow: auto;
}
.modal-content_3d_help p 
{
    font-size: 1.0em;
    color: #000;
    text-align: left;
    line-height: 1.5;
}

#yearControlledSlider .slider-selection{
  box-shadow: none;
  background: rgb(11, 94, 215);
}
#yearControlledSlider{
  display:flex;
  flex-direction: column;
  padding:20px 0 20px 10px;
}
.blue{
  color:#0B5ED7;
  padding-top:15px;
}
.transparency .transparency_layer select{
  width:100%;
  padding: 8px;
  box-shadow:  2px 3px 3px gray;
  margin-bottom: 15px;
  background-color: #fff;
}
.transparency .transparency_layer select option {
  width:70% !important;
}
.water-legends{
  padding-left:10px;
}

/* pink color range panel on right side starts here */
.color-range-panel{
  width: 13vw; 
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0; 
  display: none;
  padding: 0.5vw;
}
.color-box {
  display: block;
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin-right: 5px; /* Adjust margin as needed */
}
.color-range-container{
  display:flex;
}
.color-range-container span{
  font-size:14px;
}
/* pink color range panel on right side ends here */

/* LCLU panel starts here */
.lclu-panel{
  width: 15vw; 
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0; 
  padding: 0.5vw;
  margin-bottom: 10px;
}
.color-box {
  display: block;
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin-right: 5px; /* Adjust margin as needed */
}
.lclu-container{
  display:flex;
}
.lclu-container span{
  font-size:14px;
}
/* LCLU panel ends here */

/*remaining legends work start here */
.lclu-color-range-container{
  position: fixed;
  bottom: 0.8vw;
  right: 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.population-health-soil-container{
  position: fixed;
  bottom: 0.8vw;
  left: 385px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0; 
  padding: 0.5vw;
  margin-bottom: 10px;
}
.population-health-soil-container p{
    margin-bottom: 0;
  }

#populationDensityGradient {
  height: 55px;
  width: 10px;
  background-image: linear-gradient(#9f0c21,#f2552c,#e17735,#ffac1d,#FFc869,#ffffe7);
}

#healthCareAccessGradient {
  height: 55px;
  width: 10px;
  background-image: linear-gradient(#8B4513,#A0522D,#8B4513,#CD853F,#D2B48C,#DEB887,#F5DEB3,#FFDEAD,#FFEBCD,#FFF8DC);
}

.soil-texture-panel{
  z-index: 0; 
  margin-bottom: 1vw;
}
.soil-texture-container{
  display:flex;
  width: 10vw;
}
.soil-texture-container span{
  font-size:14px;
}

.healthcare-access-container{
margin-bottom: 1vw;
}
/* remaining legends work end here */

@media screen and (max-width: 1310px) {
  .chat-box{
      width:30%;
      left:50%
  }
  .result-box{
    width:30%;
    left:50%
  }
}

.layer-checkbox-item{
  display: flex;
}

.close-population-health-soil{
  left:60px !important;
}
.collapse-button{
  transform: rotate(180deg);
}
.collapse-panel-chatbox{
  left:29%;
  width: 40%;
}
.collapse-panel-resultbox{
  left:29%;
}
.population-health-soil-container p {
  margin-bottom: 16px;
}
label.form-check-label {
  margin: 0 10px;
}
.toggle-switcher-css{
  justify-content:center;
}
.slect-c h2{
  margin-bottom:16px;
}

.tooltip.tooltip-main.bottom {
  display:none;
}
@media screen and (max-width: 1310px) {
  .collapse-panel-resultbox {
      width: 40%;
      left: 29.5% ;
  }
  .collapse-panel-chatbox{
      width:40%;
  }
}