body {
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.main-container {
    width: 95%;
    margin: auto;
}

.interface-overview,
.tool-operation {
    margin:50px;
}

.user-guide h1,
.interface-overview h1,
.tool-operation h1 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.5rem;
    color: #282727;
}

.user-guide p {
    padding: 0.5rem;
    font-size: 1.4rem;
}

.user-guide ol li {
    color: #0259f9;
    font-size: 1.2em;
    font-weight: 600;
}

.blue {
    color: #0259f9;
}

.interface-overview img {
    margin: auto;
    width: 100%;
}

.tool-operation ol li,
.tool-operation p {
    margin: 20px 0;
    padding: 0.5rem;
    font-size: 1.4rem;
}

img {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

#help-btn {
    font-size: 15px;
    background: #0259f9;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #0259f9;
    border-radius: 5px;
    letter-spacing: 0.1em;
    font-weight: 200;
    box-shadow: 0 0 3px 0px #0259f9;
}
.user-guide-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}