<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/user_guide_styles.css">
    <title>SATGPT User Guide</title>
</head>

<body>
    <div class="main-container">
        <div class="user-guide-head">
            <h1 id="satgpt_title">SATGPT User Guide</h1>
            <a href="../static/v1_SATGPT_QGIS_Flood_Impact_Assessment_Demo.pdf" download id="help-btn" class="btn btn-primary">Download Case Study: Karawang (West Java), Indonesia</a>
            <a href="../static/SATGPTUserGuide.pdf" download id="help-btn" class="btn btn-primary">Download User Guide</a>
        </div>
        <div class="user-guide">
            <p>SATGPT, an innovative solution that leverages the current capabilities of LLMs and integrates them with
                cloud
                computing platforms and Earth Observation data. SATGPT represents a fully functional, next-generation
                spatial
                decision support system designed for rapid deployment, particularly in resource-limited contexts. </p>
            <p>There are three sections in this guide.</p>
            <ol>
                <li>Interface overview</li>
                <li>SATGPT Tool operation</li>
                <li>Acknowledgement and further reading</li>
            </ol>
        </div>

        <div class="interface-overview">
            <h1>Interface overview</h1>
            <img src="../static/images/guide_interface_overview.PNG" />
        </div>

        <div class="tool-operation">
            <h1>SATGPT tool operation</h1>
            <p>This section shows steps to operate the SATGPT tool</p>

            <ol>
                <li>Browse to https://satgpt.net/ to access the tool.</li>
                <img src="../static/images/guide_1.PNG"  />

                <li>On the layer control panel select the tool of operation to map the Inundation area<br/>
                    &ensp;&ensp;<b>Option 1: Historical Data</b>
                </li>
                <img src="../static/images/guide_2.PNG" />

                <li>Enter the prompt of interest specifying an incidence of flood occurrence specific to a region.
                    <br />
                    &ensp; &ensp;For example: You can try by entering the prompt.<span class="blue">Tell me about floods in Thailand that
                        occurred in 2011 (Examples can also be found in the prompt tab) </span>
                    <p>Tips: Make sure to specify the “year” and “country” for quick prompt responses</p>
                </li>
                <img src="../static/images/guide_3.PNG" />

                <li>Click on the response icon to run the prompt and the resulting response will provide you with
                    specifics of the flood events.</li>
                <img src="../static/images/guide_4.PNG" />

                <li>The prompt will run to generate the response and result with detailed information of the specific
                    flood event</li>
                <img src="../static/images/guide_5.PNG" />

                <li>Zoom and click on a grid that is specified in the result.
                    <br />
                    <span class="blue">For example, the following result shows that the floods affected areas included central and
                        northern regions of Thailand.</span>
                </li>
                <img src="../static/images/guide_6.PNG" />

                <li>Adjust transparency according to preferences using the sliders on the Option Panel</li>
                <img src="../static/images/guide_7.PNG" />

                <li>Download GEE code to receive the JavaScript file that can be used directly in the Google Earth
                    Engine (GEE)
                    <br /><b>Note: </b><span class="blue">The downloaded GEE code javascript file can be opened with notepad to read
                        the codes that
                        <img src="../static/images/guide_8.PNG" />
                        can be directly run in your GEE code editor platform to visualize the 2D image.
                    </span>
                </li>

                <li>Use the Toggle button on the options panel to enable 3D view (hold CTRL when clicking and
                    dragging to tilt and rotate the map)<br />
                    In the same way, use the toggle button to allow building view, to visualize buildings
                    specially in an urban area to capture 3D view
                </li>
                <img src="../static/images/guide_9.PNG" />

                <li>On the layer control panel select the tool of operation to map the Inundation area<br />
                    &ensp; &ensp;<b>Option 2: Unsupervised classification</b></li>
                <img src="../static/images/guide_10.PNG" />

                <li>Enter the prompt of interest specifying an incidence of flood occurrence specific to a region.
                    <br /> &ensp; &ensp; Using the same example:. <span class="blue">Tell me about floods in Thailand
                        that occurred in 2011</span>
                </li>
                <img src="../static/images/guide_11.PNG" />

                <li>Click on the response icon to run the prompt and the resulting response will provide you with
                    specifics of the flood events.</li>
                <img src="../static/images/guide_12.PNG" />

                <li>The prompt will be run to generate the response and result with detailed information of the
                    specific flood event.<br />
                    The response can be visualized by selecting the grid.</li>
                <img src="../static/images/guide_13.PNG" />

                <li>Zoom to the grid and click to the grid of interest, based on the information in the prompt response.
                </li>
                <img src="../static/images/guide_14.PNG" />

                <li>Adjust transparency according to preferences using the sliders on the Option Panel</li>
                <img src="../static/images/guide_15.PNG" />

                <li>Download GEE code to receive the JavaScript file that can be used directly in the Google Earth
                    Engine (GEE)
                    <br />
                    <b>Note: </b> <span class="blue">The downloaded GEE code javascript file can be opened with notepad
                        to read the
                        codes that can be directly run in your GEE code editor platform to visualize the 2D image.
                    </span>
                </li>
                <img src="../static/images/guide_16.PNG" />

                <li>Use the Toggle button on the options panel to enable 3D view (hold CTRL when clicking and
                    dragging to tilt and rotate the map). In the same way, use the toggle button to allow building view,
                    to visualize buildings specially in an urban area to capture 3D view.
                </li>
                <img src="../static/images/guide_17.PNG" />
            </ol>
        </div>

    </div>
</body>

</html>